/* 

 * This is a manifest file that'll be compiled into application.css, which will include all the files 

 * listed below. 

 * 

 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's 

 * vendor/assets/stylesheets directory can be referenced here using a relative path. 

 * 

 * You're free to add application-wide styles to this file and they'll appear at the bottom of the 

 * compiled file so the styles you add here take precedence over styles defined in any other CSS 

 * files in this directory. Styles in this file should be added after the last require_* statement. 

 * It is generally better to create a new file per style scope. 

 * 

 *= require_tree . 

 *= require_self 

 */ 

 

/* ------------------------------------- */ 

/* ★ ブラウザデフォルト余白の強力なリセット ★ */ 

/* ------------------------------------- */ 

 

 @import "recipes"; 

 @import "users"; 

 @import "perfumes";

 

  

 

header { 
  background-color: transparent;  
} 


html, body { 
    height: 100%;  
    margin: 0;  
    padding: 0; 
} 

body { 
  　font-family: "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center center;  
    font-weight: 400; 
} 
 
.site-logo { 
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif; 
    font-weight: 100; 
    font-size: 1.8em;  
    font-weight: bold;  
    color: #111; 
} 
 
 .tweets-container { 
  background-color: transparent;  
  padding: 0;                     
} 
 
 .tweets-container .diagnosis-title { 
    font-size: 1em; /* お好みの大きさに調整 */ 
    font-weight: bold;  
    color: #333;  
    margin-top: 20px; 
    margin-bottom: 10px; 
} 
 
 .tweets-container .diagnosis-link { 
    font-size: 1.1em; /* お好みの大きさに調整 */ 
    color: black;  
    display: inline-block; /* 必要に応じてブロック化 */ 
    margin-bottom: 30px; 
} 
 
.nav-links a, 
.nav-links button { 
  text-decoration: none;      
  color: black;           
  font-size: 16px; 
  padding: 5px; 
  /* button_toのボタンをリンクのように見せるための設定 */ 
  background: none; 
  border: none; 
  cursor: pointer; 
} 
 
.nav-links a:hover, 
.nav-links button:hover { 
  text-decoration: underline; 
}

