.sign-up-container { 

    min-height: 100vh; 

    width: 100%; 

    position: relative; 

    overflow: hidden;  

    background-image: url('/assets/tomato.png'); 

    background-size: cover;  

    background-position: center center;  

    display: flex; 

    justify-content: center;  

    align-items: center; 

    padding: 50px 0;  

} 

 

 

.sign-up-container::before { 

    content: ''; 

    position: absolute; 

    top: 0; 

    left: 0; 

    width: 100%; 

    height: 100%; 

    background-color: rgba(255, 255, 255, 0.4);  

    z-index: 1; 

    pointer-events: none;  

} 

 

 

 

.form-wrapper { 

    background-color: rgba(255, 255, 255, 0.9); 

    padding: 30px 40px; 

    border-radius: 10px;  

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);  

    width: 400px;  

    max-width: 90%; 

    z-index: 2;  

    position: relative;  

} 

 

 

.form-wrapper h2 { 

    text-align: center; 

    margin-bottom: 25px; 

    font-size: 24px; 

    color: #333; 

} 

 

.form-wrapper .field input[type="text"], 

.form-wrapper .field input[type="email"], 

.form-wrapper .field input[type="password"] { 

    width: 100%; 

    padding: 10px; 

    margin: 5px 0 15px 0; 

    border: 1px solid #ccc; 

    border-radius: 5px; 

    box-sizing: border-box; 

} 

 

 

.sign-up-button { 

    width: 100%; 

    padding: 10px; 

    background-color: #ffaa33; 

    color: white; 

    border: none; 

    border-radius: 5px; 

    cursor: pointer; 

    font-size: 16px; 

    margin-top: 10px; 

} 